<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="LambdaTest Parallel Method Suite" parallel="methods" thread-count="3">
    <test name="ParallelMethodTest">
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="latest"/>
        <parameter name="platform" value="Windows 10"/>
        <classes>
            <class name="Testclasses.Amazontest"/>
        </classes>
    </test>
</suite>